@media(max-width: 1400px){

}
@media(max-width: 1200px){
	.create h1 {
    font-size: 21px;
}
.create p {
    font-size: 13px;
}
}
@media(max-width: 992px){
	.idea-right h1 {
    width: 80%;
    font-size: 42px;
}
.idea-left h1 {
    font-size: 42px;
}
.idea-left p {
    font-size: 15px;
}
.create h1 {
    padding: 0px 0 0px;
    font-size: 19px;
    line-height: 1.4;
    font-weight: 700;
}
.create img {
    height: 150px;
    width: 320px;
    margin: auto;
}
.create p {
    font-size: 12px;
}
}
@media(max-width: 768px){
.amplify-heading p {
    width: 494px;
    font-size: 16px;
}	
.idea-left p {
    width: 90%;
    font-size: 14px;
}
.idea-right h1 {
    font-size: 39px;
}
.creativity-3{
	margin-top: 15px;
}
.Copyright {
    font-size: 15px;
}
}
@media(max-width: 576px){
.amplify-heading p {
    width: 450px;
    font-size: 15px;
}	
.idea-right h1 {
    font-size: 36px;
}
.create img {
    height: 160px;
}
.creativity-3{
	margin-bottom: 10px;
}
.creativity-2{
}
.creativity-1{
	margin-bottom: 10px;
}
.create h1 {
    padding: 6px 0 0px;
    font-size: 25px;
}
.create p {
    font-size: 14px;
    line-height: 1.4;
}
.Copyright {
    font-size: 13px;
}
}
@media(min-width: 0-576px){
	
}